<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>WebApp-Ecomerce-Servlet-Jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OfertasPrincipalController</display-name>
    <servlet-name>OfertasPrincipalController</servlet-name>
    <servlet-class>loja.webComponents.controller.OfertasPrincipalController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OfertasPrincipalController</servlet-name>
    <url-pattern>/principal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComprarController</display-name>
    <servlet-name>ComprarController</servlet-name>
    <servlet-class>loja.webComponents.controller.ComprarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComprarController</servlet-name>
    <url-pattern>/comprar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarrinhoController</display-name>
    <servlet-name>CarrinhoController</servlet-name>
    <servlet-class>loja.webComponents.controller.CarrinhoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarrinhoController</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroController</display-name>
    <servlet-name>CadastroController</servlet-name>
    <servlet-class>loja.webComponents.controller.CadastroController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroController</servlet-name>
    <url-pattern>/cadastro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>loja.webComponents.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LimparCarrinhoController</display-name>
    <servlet-name>LimparCarrinhoController</servlet-name>
    <servlet-class>loja.webComponents.controller.LimparCarrinhoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LimparCarrinhoController</servlet-name>
    <url-pattern>/limpar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarrinhoOperacoesController</display-name>
    <servlet-name>CarrinhoOperacoesController</servlet-name>
    <servlet-class>loja.webComponents.controller.CarrinhoOperacoesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarrinhoOperacoesController</servlet-name>
    <url-pattern>/cartUpdate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>SubirEncomendaController</display-name>
    <servlet-name>SubirEncomendaController</servlet-name>
    <servlet-class>loja.webComponents.controller.SubirEncomendaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubirEncomendaController</servlet-name>
    <url-pattern>/encomendar</url-pattern>
  </servlet-mapping>
</web-app>